<!DOCTYPE html>
<html>

<head>
    <title>Cloud Album</title>
    <meta charset="utf-8">
</head>

<body>
    <header id="header" class="header">
        <div class="home">Cloud Album</div>
        <div class="function">
            <div class="user">LordlyCat</div>
            <div class="triangle"></div>
            <div class="board">
                <div class="information">个人信息</div>
                <div class="setting">设置</div>
            </div>
            <img src="../icon/pullDown.png" alt="Icon" class="pullIcon">
            <div class="signIn">Sign In</div>
            <div class="signOut">Sign Out</div>
        </div>
    </header>
    <div class="album">
        <!-- 添加按钮 -->
        <div class="add">
            <img src="../icon/add.png" alt="">
            <p>Create an album</p>
        </div>
        <!-- 创建新相册 -->
        <div class="create">
            <div class="top">
                <p>Create an album</p>
                <div class="out"></div>
            </div>
            <div class="albumSetting">
                <div class="name">
                    <p>Album name : </p>
                    <input type="test" name="name">
                </div>
                <div class="permission">
                    <p>Permission : </p>
                    <select name="Permission">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <!-- <option value="password">Password</option> -->
                    </select>
                </div>
                <div class="btn">
                    <div class="check">Create</div>
                    <div class="cancel">Cancel</div>
                </div>
            </div>
        </div>
        <div class="fullCover"></div>
    </div>

    <div class="showPicture">
    	<div class="bar">
    		<div class="albumName">
    			name name 
    		</div>
    		<div class="upload">
    			Upload
    		</div>
    		
    	</div>

    	<div class="pictures">
    		
    	</div>
    </div>
    <div class="wrapper"></div>
</body>

</html>